[Unit]
Description=Run RSS fetch to ingest feeds
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/ke_pasa_content_machine
Environment="COMPOSE_PROJECT_NAME=ke-pasa"
Environment="COMPOSE_FILE=/opt/ke_pasa_content_machine/docker-compose.yml"
ExecStart=/usr/bin/docker compose --env-file /opt/ke_pasa_content_machine/.env run --rm rss
TimeoutStartSec=900
